@model IEnumerable<AppForPets.Models.CompraProveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a id="Nuevacompra" asp-action="SelectProveedorForCompra">Crear nueva compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoContacto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoContacto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCompraProveedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCompraProveedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCompraProveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
