@model IEnumerable<AppForPets.Models.Estetica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a id="SelectServiciosForEstetica" asp-action="SelectServicioForEstetica">Create New</a>
</p>

@*<form asp-controller="Esteticas" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th>
                Seleccionar Accion
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EsteticaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EsteticaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EsteticaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
